PORT=3000
NODE_ENV=production
MAX_RETRIES=2
PAGE_TIMEOUT=30000
MAX_CONCURRENT_PAGES=10

# Cleaning Configuration
AGGRESSIVE_CLEANING=true
REMOVE_IMAGES=false
# Fallback strategy
MIN_CONTENT_LENGTH=500
DYNAMIC_CONTENT_TIMEOUT=5000
SCROLL_WAIT_TIME=200


# Cache Configuration
DEFAULT_USE_CACHE=true
# Redis Configuration
# Options: 'internal', 'external', 'none'
USE_REDIS=none
#if set to none it will Store cache data in your application's memory to completly disable caching set DISABLE_ALL_CACHING=true

DISABLE_ALL_CACHING=false # This flag is a master switch for all caching (both Redis and LRU): ISABLE_ALL_CACHING=true: Disables all forms of caching, including both Redis and LRU cache ,DISABLE_ALL_CACHING=false: Allows caching based on other settings
# Internal Redis Configuration (used when USE_REDIS=internal)
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

# External Redis Configuration (used when USE_REDIS=external)
EXTERNAL_REDIS_URL=redis://default:password@xxx.xxx.xxx.xxx:6379
# Cache Configuration
REDIS_CACHE_TTL=3600     # Redis cache expiration in seconds (default: 1 hour)
LRU_CACHE_TTL=3600000    # LRU cache expiration in milliseconds (default: 1 hour)

# Concurrency Settings
DEFAULT_MAX_CONCURRENT=5
DEFAULT_BATCH_SIZE=10
DEFAULT_PROCESSING_DELAY=100
DEFAULT_RETRY_COUNT=2
DEFAULT_RETRY_DELAY=3000